.shapesContainer {
  position: relative;
  width: 100%;
  height: 650px;
  overflow: visible;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  padding-bottom: 20px;
  z-index: 2;
}

.shape {
  width: 1000px;
  height: 650px;
  border-radius: 50%;
  opacity: 0.8;
  flex-shrink: 0;
  filter: blur(30px);
}

.shape:nth-child(1) {
  position: absolute;
  left: -5%;
  transform: translateX(-50%);
  bottom: 0;
}

.shape:nth-child(2) {
  position: absolute;
  left: 32%;
  transform: translateX(-50%);
  bottom: 0;
}

.shape:nth-child(3) {
  position: absolute;
  left: 69%;
  transform: translateX(-50%);
  bottom: 0;
}

@media (max-width: 1400px) {
  .shape {
    width: 800px;
    height: 550px;
  }
  
  .shapesContainer {
    height: 550px;
  }
  
  .shape:nth-child(1) {
    left: -5%;
    transform: translateX(-50%);
  }
  
  .shape:nth-child(2) {
    left: 32%;
    transform: translateX(-50%);
  }
  
  .shape:nth-child(3) {
    left: 69%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1024px) {
  .shape {
    width: 650px;
    height: 450px;
  }
  
  .shapesContainer {
    height: 450px;
  }
  
  .shape:nth-child(1) {
    left: -5%;
    transform: translateX(-50%);
  }
  
  .shape:nth-child(2) {
    left: 32%;
    transform: translateX(-50%);
  }
  
  .shape:nth-child(3) {
    left: 69%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .shapesContainer {
    height: 400px;
  }
  
  .shape {
    width: 450px;
    height: 400px;
  }
  
  .shape:nth-child(1) {
    left: -5%;
    transform: translateX(-50%);
  }
  
  .shape:nth-child(2) {
    left: 32%;
    transform: translateX(-50%);
  }
  
  .shape:nth-child(3) {
    left: 69%;
    transform: translateX(-50%);
  }
}
