.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.heroSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

.glassOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Fractal-Glass.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
  pointer-events: none;
  opacity: 1.5;
  mix-blend-mode: overlay;
}
